.jikir-table {
  border-collapse: collapse;
  border: 5px solid lightgreen;
}

.jikir-table th {
  color: rgb(100, 243, 240);
  background-color: darkgreen;
  border: 3px solid darkgoldenrod;
  padding: 10px;
}

.jikir-table td {
  border: 2px solid darkgoldenrod;
  padding: 10px;
  font-weight: normal;
}

.delete-button {
  color: darkblue;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.add-jikir-button {
  width: 250px;
  height: 40px;
  background-color: rgb(85, 255, 0);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-jikir-button:hover {
  background-color: rgb(8, 198, 8);
}

.add-count-container {
  border: 5px solid rgb(121, 151, 0);
  color: lightyellow;
  border-radius: 20px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url('/images/regBG_2.png');
  text-align: left;
  padding: 20px;
  margin: 10px;
}

.add-count-input {
  width: 200px;
  height: 40px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(190, 255, 255);
  border: 3px rgb(0, 60, 0) solid;
  border-right: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.add-count-button {
  background-color: rgb(150, 243, 37);
  width: 90px;
  height: 47px;
  border: 3px rgb(0, 60, 0) solid;
  border-left: none;
  font-weight: bold;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.6s ease;
}

.add-count-button:hover {
  background-color: rgb(96, 169, 6);
  cursor: pointer;
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 768px) {
  .jikir-table th,
  .jikir-table td {
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
  }
  
  .add-jikir-button {
    width: 150px;
    height: 25px;
    font-size: 12px;
  }
  
  .add-count-container {
    padding: 15px;
    margin: 5px;
  }
  
  .add-count-input {
    width: 180px;
    height: 35px;
    font-size: 18px;
  }
  
  .add-count-button {
    width: 80px;
    height: 40px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 560px) {
  .jikir-table th,
  .jikir-table td {
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
  }
}
